# SQL Joins: TMDb Database
© Explore Data Science Academy

## Instructions to Students

This challenge is designed to determine how much you have learned so far and will test your knowledge on join SQL statements.

The answers for this challenge should be selected on Athena for each corresponding Multiple Choice Question. The questions are included in this notebook and are numbered according to the Athena Questions, the options to choose from for each question have also been included.

Do not add or remove cells in this notebook. Do not edit or remove the `%%sql` comment as it is required to run each cell.

**_Good Luck!_**

## Honour Code

I Omotola, Olasope, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the EDSA honour code (https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

## The TMDb Database

In this challenge you will be exploring the [The Movie Database](https://www.themoviedb.org/) - an online movie and TV show database, which houses some of the most popular movies and TV shows at your finger tips. The TMDb database supports 39 official languages used in over 180 countries daily and dates all the way back to 2008. 


<img src="https://github.com/Explore-AI/Pictures/blob/master/sql_tmdb.jpg?raw=true" width=80%/>


Below is an Entity Relationship diagram(ERD) of the TMDb database:

<img src="https://github.com/Explore-AI/Pictures/blob/master/TMDB_ER_diagram.png?raw=true" width=70%/>

As can be seen from the ER diagram, the TMDb database consists of `12 tables` containing information about movies, cast, genre and so much more.  

Let's get started!

## Loading the database

To begin and start making use of SQL queries you need to prepare your SQL environment you can do this by loading in the magic command `%load_ext sql`, next you can go ahead and load in your database. To do this you will need to ensure you have downloaded the `TMDB.db`sqlite file from Athena and have stored it in a known location. Now that you have all the prerequisites you can go ahead and load it into the notebook.

In [1]:
%load_ext sql

In [2]:
%%sql 

sqlite:///TMDB.db

## Questions on SQL Join Statements 

Use the given cell below each question to execute your SQL queries to find the correct input from the options provided for the multiple choice questions on Athena.

**Question 1**

What is the primary key for the table “movies”?

**Options:** 
 - title
 - movie_key
 - film_id
 - movie_id

**Solution**

In [8]:
%%sql 
SELECT count(*) as primary_key_count
FROM pragma_table_info('movies')
WHERE pk > 0;

 * sqlite:///TMDB.db
Done.

[(1,)]

**Question 2**

How many foreign keys does the “LanguageMap” table have?

**Options:**

 - 0
 - 2
 - 3
 - 1

**Solution**

In [13]:
%%sql 
SELECT *
FROM LanguageMap
LIMIT 1;

 * sqlite:///TMDB.db
Done.

[(868, 'af')]

**Question 3**

How many movies in the database were produced by Pixar Animation Studios?

**Options:**
 - 16
 - 14
 - 18
 - 20

**Solution**

In [9]:
%%sql 
SELECT COUNT(m.movie_id) AS count_movies
FROM movies m
INNER JOIN productioncompanymap p1
ON m.movie_id = p1.movie_id
INNER JOIN productioncompanies p2
ON p1.production_company_id = p2.production_company_id
WHERE production_company_name = 'Pixar Animation Studios'

 * sqlite:///TMDB.db
Done.

[(16,)]

**Question 4**

What is the most popular action movie that has some German in it? (Hint: The German word for German is Deutsch)

**Options:**
 - The Bourne Identity
 - Mission: Impossible - Rogue Nation
 - Captain America: Civil War
 - Quantum of Solace

**Solution**

In [22]:
%%sql 
SELECT m.title, g2.genre_name, l2.language_name, m.popularity
FROM movies m
INNER JOIN genremap g1
ON m.movie_id = g1.movie_id
INNER JOIN genres g2
ON g1.genre_id = g2.genre_id
INNER JOIN languagemap l1
ON m.movie_id = l1.movie_id
INNER JOIN languages l2
ON l1.iso_639_1 = l2.iso_639_1
WHERE g2.genre_name = 'Action' AND l2.language_name = 'Deutsch'
ORDER BY m.popularity DESC

 * sqlite:///TMDB.db
Done.

[('Captain America: Civil War', 'Action', 'Deutsch', 198.372395),
 ('Mission: Impossible - Rogue Nation', 'Action', 'Deutsch', 114.522237),
 ('The Fifth Element', 'Action', 'Deutsch', 109.528572),
 ('Quantum of Solace', 'Action', 'Deutsch', 107.928811),
 ('Spectre', 'Action', 'Deutsch', 107.376788),
 ('The Bourne Identity', 'Action', 'Deutsch', 86.476817),
 ('Non-Stop', 'Action', 'Deutsch', 83.295796),
 ('Indiana Jones and the Last Crusade', 'Action', 'Deutsch', 80.972475),
 ('Indiana Jones and the Kingdom of the Crystal Skull', 'Action', 'Deutsch', 75.674458),
 ('Inglourious Basterds', 'Action', 'Deutsch', 72.595961),
 ('Raiders of the Lost Ark', 'Action', 'Deutsch', 68.159596),
 ('Die Hard', 'Action', 'Deutsch', 66.169628),
 ('Mission: Impossible III', 'Action', 'Deutsch', 63.079003),
 ('Superman Returns', 'Action', 'Deutsch', 57.925623),
 ('Die Another Day', 'Action', 'Deutsch', 54.159392),
 ('The Bourne Supremacy', 'Action', 'Deutsch', 53.213931),
 ('Die Hard: With a Vengeance', 'Action', 'Deutsch', 51.881077),
 ('The Man from U.N.C.L.E.', 'Action', 'Deutsch', 48.744209),
 ('The League of Extraordinary Gentlemen', 'Action', 'Deutsch', 47.436675),
 ('xXx', 'Action', 'Deutsch', 46.217769),
 ('Knight and Day', 'Action', 'Deutsch', 44.906918),
 ('Waterworld', 'Action', 'Deutsch', 44.640292),
 ('Escape Plan', 'Action', 'Deutsch', 44.478043),
 ('The Monuments Men', 'Action', 'Deutsch', 43.873266),
 ('Tomorrow Never Dies', 'Action', 'Deutsch', 42.887121),
 ("Charlie's Angels", 'Action', 'Deutsch', 40.20395),
 ('The Brothers Grimm', 'Action', 'Deutsch', 40.138009),
 ('Sucker Punch', 'Action', 'Deutsch', 39.127082),
 ('True Lies', 'Action', 'Deutsch', 38.729418),
 ('Unknown', 'Action', 'Deutsch', 38.643914),
 ('Swordfish', 'Action', 'Deutsch', 36.788745),
 ('Johnny English Reborn', 'Action', 'Deutsch', 35.6585),
 ('Diamonds Are Forever', 'Action', 'Deutsch', 34.634181),
 ('Rush', 'Action', 'Deutsch', 33.003828),
 ('Hanna', 'Action', 'Deutsch', 31.191975),
 ('Munich', 'Action', 'Deutsch', 29.035222),
 ('Pandorum', 'Action', 'Deutsch', 28.353517),
 ('From Paris with Love', 'Action', 'Deutsch', 27.916284),
 ('Run Lola Run', 'Action', 'Deutsch', 27.36562),
 ('Spy Game', 'Action', 'Deutsch', 27.166757),
 ('Das Boot', 'Action', 'Deutsch', 26.967494),
 ('Unleashed', 'Action', 'Deutsch', 25.999888),
 ('Octopussy', 'Action', 'Deutsch', 25.633663),
 ("On Her Majesty's Secret Service", 'Action', 'Deutsch', 25.289665),
 ('30 Minutes or Less', 'Action', 'Deutsch', 25.039383),
 ('Sky Captain and the World of Tomorrow', 'Action', 'Deutsch', 24.664776),
 ('The Living Daylights', 'Action', 'Deutsch', 23.331459),
 ('Around the World in 80 Days', 'Action', 'Deutsch', 22.643776),
 ('The Sum of All Fears', 'Action', 'Deutsch', 22.392544),
 ('Free State of Jones', 'Action', 'Deutsch', 21.589393),
 ("Baby's Day Out", 'Action', 'Deutsch', 21.312186),
 ('Volcano', 'Action', 'Deutsch', 19.836124),
 ('Shaft', 'Action', 'Deutsch', 19.643365),
 ('The Longest Day', 'Action', 'Deutsch', 19.524972),
 ('Six Days Seven Nights', 'Action', 'Deutsch', 18.264635),
 ('U-571', 'Action', 'Deutsch', 18.096884),
 ('Stealth', 'Action', 'Deutsch', 17.88953),
 ('United 93', 'Action', 'Deutsch', 17.50138),
 ('Armored', 'Action', 'Deutsch', 15.21229),
 ('Bulletproof Monk', 'Action', 'Deutsch', 15.20707),
 ('Alex Cross', 'Action', 'Deutsch', 14.513243),
 ('Night Watch', 'Action', 'Deutsch', 12.540624),
 ('Red Tails', 'Action', 'Deutsch', 12.29603),
 ('White Squall', 'Action', 'Deutsch', 10.047579),
 ('1941', 'Action', 'Deutsch', 10.032626),
 ('Shin Godzilla', 'Action', 'Deutsch', 9.476999),
 ('Rollerball', 'Action', 'Deutsch', 9.306253),
 ('Sorcerer', 'Action', 'Deutsch', 9.088209),
 ('The Greatest Show on Earth', 'Action', 'Deutsch', 8.988455),
 ('Narc', 'Action', 'Deutsch', 8.526635),
 ("Hell's Angels", 'Action', 'Deutsch', 8.484123),
 ('Driven', 'Action', 'Deutsch', 8.468586),
 ('The Baader Meinhof Complex', 'Action', 'Deutsch', 7.727035),
 ('Saints and Soldiers', 'Action', 'Deutsch', 6.003418),
 ("Heaven's Gate", 'Action', 'Deutsch', 5.380124),
 ('The Train', 'Action', 'Deutsch', 4.49029),
 ('The Promise', 'Action', 'Deutsch', 3.866026),
 ('X-Men: First Class', 'Action', 'Deutsch', 3.195174),
 ('X2', 'Action', 'Deutsch', 2.871739),
 ('The Adventures of Huck Finn', 'Action', 'Deutsch', 2.163683),
 ('Code of Honor', 'Action', 'Deutsch', 2.101718),
 ('Independence Daysaster', 'Action', 'Deutsch', 1.959405),
 ("All The Queen's Men", 'Action', 'Deutsch', 1.833058),
 ('Legend of a Rabbit', 'Action', 'Deutsch', 0.738652),
 ('Rockaway', 'Action', 'Deutsch', 0.361554)]

**Question 5**

In how many movies did Tom Cruise portray the character Ethan Hunt? (Hint: Characters are listed in the Casts table.)

**Options:**
 - 4
 - 3
 - 6
 - 5

**Solution**

In [25]:
%%sql 
SELECT COUNT(m.movie_id)
FROM movies m
INNER JOIN casts c
ON m.movie_id = c.movie_id
INNER JOIN actors a
ON c.actor_id = a.actor_id
WHERE a.actor_name = 'Tom Cruise' AND c.characters = 'Ethan Hunt'

 * sqlite:///TMDB.db
Done.

[(5,)]

**Question 6**

How many times was the actress Cate Blanchett nominated for an Oscar?
 
 **Options:**
 - 7
 - 4
 - 5
 - 2

**Solution**

In [30]:
%%sql 
SELECT COUNT(*)
FROM oscars
WHERE name = 'Cate Blanchett';

 * sqlite:///TMDB.db
Done.

[(7,)]

**Question 7**

How many movies were nominated for the Best Picture award at the Oscars?
 
**Options:**

 - 12
 - 16
 - 8
 - 18

**Solution**

In [36]:
%%sql 
SELECT COUNT(*)
FROM oscars
WHERE award = 'Best Picture' AND year = 2015;

 * sqlite:///TMDB.db
Done.

[(8,)]

**Question 8** 

How many movies contain at least one of the languages, Afrikaans or Zulu?

**Options:**
 - 10
 - 8
 - 12
 - 15

**Solution**

In [79]:
%%sql 
SELECT COUNT(*)
FROM movies
WHERE movie_id IN (
    SELECT m.movie_id
    FROM movies m
    INNER JOIN languagemap l1 ON m.movie_id = l1.movie_id
    INNER JOIN languages l2 ON l1.iso_639_1 = l2.iso_639_1
    WHERE l2.language_name = 'Afrikaans'
)
OR movie_id IN (
    SELECT m.movie_id
    FROM movies m
    INNER JOIN languagemap l1 ON m.movie_id = l1.movie_id
    INNER JOIN languages l2 ON l1.iso_639_1 = l2.iso_639_1
    WHERE l2.language_name = 'isiZulu'
);

 * sqlite:///TMDB.db
Done.

[(8,)]

**Question 9**

In which country was the movie “Star Wars” produced?  

**Options:**
 - Canada
 - United Kingdom
 - France
 - United States of America

**Solution**

In [59]:
%%sql 
SELECT m.title, production_country_name
FROM movies m
INNER JOIN productioncountrymap p1
ON m.movie_id = p1.movie_id
INNER JOIN productioncountries p2
ON p1.iso_3166_1 = p2.iso_3166_1
WHERE m.title = 'Star Wars'

 * sqlite:///TMDB.db
Done.

[('Star Wars', 'United States of America')]

**Question 10**

How many movies are in the database that are both a Romance and a Comedy?

**Options:**

 - 373
 - 484
 - 262
 - 595

**Solution**

In [77]:
%%sql 
SELECT COUNT(*)
FROM movies
WHERE movie_id IN (
    SELECT m.movie_id
    FROM movies m
    INNER JOIN genremap g1 ON m.movie_id = g1.movie_id
    INNER JOIN genres g2 ON g1.genre_id = g2.genre_id
    WHERE g2.genre_name = 'Romance'
)
AND movie_id IN (
    SELECT m.movie_id
    FROM movies m
    INNER JOIN genremap g1 ON m.movie_id = g1.movie_id
    INNER JOIN genres g2 ON g1.genre_id = g2.genre_id
    WHERE g2.genre_name = 'Comedy'
);

 * sqlite:///TMDB.db
Done.

[(484,)]